<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/overview.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Order Dashboard</title>
</head>


<body>
<div class="side-menu">
    <div class="brand-name">
        <img src="../asset/image/logo.png">
    </div>
    <br>
    <br>
    <ul>
        <li><a href="../view/admin_homepage.html">Home</a></li>
        <li><a href="../view/overview.html">Overview</a></li>
        <li><a href="../view/order_dashboard.html">Order Dashboard</a></li>
        <li><a href="#Home">Reviews</a></li>
        <li><a href="#Home">Settings</a></li>
        <li><a href="#Home">Help</a></li>
        <li><a href="#Home">Logout</a></li>
    </ul>
</div>

<div class="container">
    <div class="header">
        <div class="nav">
            <div class="search">
                <input type="text" placeholder="Search..">
                <button type="submit"><img src="../asset/image/search.png" alt=""></button>
            </div>
            <div class="user">
                <a href="#" class="btn">Add New</a>
                <img src="../asset/image/notification.png" alt="">
                <div class="img-case">
                    <img src="../asset/image/user.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="box">
                    <h1>2190</h1>
                    <h3>Total Orders</h3>
                </div>
                <div class="icon-case">
                    <img src="../asset/image/order.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>1843</h1>
                    <h3>Total Deliveries</h3>
                </div>
                <div class="icon-case">
                    <img src="../asset/image/delivery.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>347</h1>
                    <h3>Order Pending</h3>
                </div>
                <div class="icon-case">
                    <img src="../asset/image/clock.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>12923</h1>
                    <h3>Total Revenue</h3>
                </div>
                <div class="icon-case">
                    <img src="../asset/image/revenue.png" alt="">
                </div>
            </div>
        </div>



        <div class="content-2">
            <div class="recent-transactions">
                <div class="title">
                    <h2>Order Chart</h2>
                    <a href="#" class="btn">View All</a>
                </div>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Order Id</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>Raaju Pahlowan</td>
                        <td>14SB-4, Basonti, Lakecity, Dhaka</td>
                        <td>0089</td>
                        <td>Delivered</td>
                    </tr>
                    <tr>
                        <td>Raaju Pahlowan</td>
                        <td>14SB-4, Basonti, Lakecity, Dhaka</td>
                        <td>0089</td>
                        <td>Delivered</td>
                    </tr>
                    <tr>
                        <td>Raaju Pahlowan</td>
                        <td>14SB-4, Basonti, Lakecity, Dhaka</td>
                        <td>0089</td>
                        <td>Delivered</td>
                    </tr>
                    <tr>
                        <td>Raaju Pahlowan</td>
                        <td>14SB-4, Basonti, Lakecity, Dhaka</td>
                        <td>0089</td>
                        <td>Delivered</td>
                    </tr>
                    <tr>
                        <td>Raaju Pahlowan</td>
                        <td>14SB-4, Basonti, Lakecity, Dhaka</td>
                        <td>0089</td>
                        <td>Delivered</td>
                    </tr>
                    <tr>
                        <td>Raaju Pahlowan</td>
                        <td>14SB-4, Basonti, Lakecity, Dhaka</td>
                        <td>0089</td>
                        <td>Delivered</td>
                    </tr>
                    <tr>
                        <td>Raaju Pahlowan</td>
                        <td>14SB-4, Basonti, Lakecity, Dhaka</td>
                        <td>0089</td>
                        <td>Delivered</td>
                    </tr>
                    <tr>
                        <td>Raaju Pahlowan</td>
                        <td>14SB-4, Basonti, Lakecity, Dhaka</td>
                        <td>0089</td>
                        <td>Delivered</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

</div>

</body>
</html>